/* 夜间皮肤 */
:root {
  --text: #c2ccd0;
  --text2: #a1afc9;
  --canvas: #161823;
  --soft: #50616d;
  --soft2: #35434d;
  --border: #758a99;
  --blue: #758a99; --blue-soft: #1f2936; --green: #549688; --red: #cd5e3c;
  --primary: var(--blue); --primary-soft: var(--blue-soft);
  --success: var(--green); --danger: var(--red);
  --win-min-icon: url(night/icon/win-min_night.svg);
  --win-max-icon: url(night/icon/win-max_night.svg);
  --win-restore-icon: url(night/icon/win-restore_night.svg);
  --win-close-icon: url(night/icon/win-close_night.svg);
  --drag-cursor: url(night/icon/paw_night.svg) 16 16, grab;
}
